
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Krona+One&family=Montserrat&display=swap');


*{
  padding: 0;
  margin: 0;
  text-decoration: 0;
}

:root{
  --hue: 550;
  --cor-destaque: hsl(var(--hue), 98%, 56%);
  --cor-text-principal: hsl(var(--hue), 0%, 96%);
  --cor-secundaria: hsl(var(--hue), 10%, 10%);
  --hover: hsl(var(--hue), 44%, 15%);
  --font-krona: 'Krona One', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --cor-divider: hsl( var(--hue) , 98%, 56%);
  --2cor-divider: hsla(var(--hue), 98%, 56%, 0);
}

body{
  width: 100vw;
  box-sizing: border-box;
  font-family: sans-serif, montserrat;
  background-color: var(--cor-secundaria);
  color: var(--cor-text-principal);
}

.compra{
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  border-radius: 1rem;
  color: var(--cor-text-principal);
}

.compra h4{
  margin-left: 10%;
}

.compraAdd{
  padding: 2em 0;
  overflow-x: scroll;

}

section{

display: flex;
flex-direction: column;
gap: 2em;
justify-content: center;
align-items: center;
margin-top: 2em;
margin-bottom: 3%;
}

#perguntas{
  font-size: 1.2rem ;
  display: flex;
flex-direction: column;
gap: 1em;
}
#Item{
  display: flex;
  justify-content: stretch;
  margin: 0 0 0 .7em;
  font-size: 1.5em;
  
}
#Item input{
width: 25%;
}
#Item #addQuant{
  width: 13%;
}
select{
  width: 30%;
}
#botaoAdd{
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 37% ;
  padding: 3% 0;
}



.tabela{  
  font-size: 1px;
}

.tabela, th, td{
  border: 1px solid #F1FAEE;
  background-color: #1D3557;
  border-radius: .5rem;
  font-size: .05rem;
}

th{
  background-color: #1D3557;
  color: #F1FAEE;
  padding: 0rem 2rem;
  font-size: 1rem;
}

td{
  padding: .1rem;
  background-color: #F1FAEE;
  font-size: 1rem;
  width: auto;
  color: #1D3557;
  white-space: normal;
}

#botaoAdd{
  border-radius: 1rem;
  background-color: #1d355700;
  border: 2px solid var(--cor-destaque);
  color: var(--cor-destaque);
  font-family: var(--font-montserrat);
  transition: all 0.5s;
}

#botaoAdd:hover{
  background-color: var(--hover);

}
