@media (min-width:1000px) {

  main{
    flex-direction: row ;
    align-items: flex-start;
  }


.compra{
    padding-left: 1rem;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   overflow-y: scroll;
   overflow-x: hidden;
   width: 55%;
   margin-top: 5rem;
   height: 60vh;
}

section{
  width: 40%;
}

footer{
  display: block;
margin-top: -1.5%;
}

}